.welcom{
    font-style: italic;
    font-family: sans-serif;
}
/*#body{
    background-color: blue;
}*/

.facebook img{
    width: 50px;
}
.title{
    text-decoration-line: underline ;
}